body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #f4f4f4;
  color: #4B2C6F;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

/* Liens */
a {
  color: #c72c48;
  text-decoration: none;
}
.photo-figure {
  max-width: 900px;          /* image assez grande */
  margin: 40px auto;         /* centrée horizontalement */
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.preoject-content{
  text-align : center ;
}


.photo-figure img {
  width: 100%;               /* occupe toute la largeur du cadre */
  height: auto;
  display: block;
  border-radius: 8px;
}

.photo-figure figcaption {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

/* Conteneur central */
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* En-tête */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

.header__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Photo */
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid #ccc;
}

/* Titres */
h1 {
  margin: 0;
}

.subtitle {
  margin: 5px 0;
  color: #666;
}

/* Liens du header */
.links {
  margin-top: 10px;
}

.links a {
  margin-right: 10px;
}

/* Bouton */
.btn {
  padding: 6px 10px;
  border: 1px solid #c72c48;
  border-radius: 5px;
}

/* Contenu principal */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}

/* Cartes */
.card {
  background-color: #FFD1DV;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

/* Texte discret */
.muted {
  color: #777;
  font-size: 14px;
}

/* Liste compétences */
.tags {
  list-style: none;
  padding: 0;
}

.tags li {
  background-color: #e6e6e6;
  display: inline-block;
  padding: 5px 8px;
  margin: 4px;
  border-radius: 4px;
}

/* Boîtes API */
.apiBox {
  border: 1px dashed #aaa;
  padding: 10px;
  margin-top: 10px;
}

/* Pied de page */
.footer {
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  margin-top: 30px;
  padding: 15px 0;
  text-align: center;
  color: #666;
  font-size: 14px;
}
